@charset "utf-8";

.div2 {
    width:100%;
    background-color:#3399FF;
}
.div2_1{
    position:fixed;
    width:100%;
    height:35px;
    z-index:999;
    background-color:#3399FF;
    top:0px;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop));
}
*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}

.nav {
    font-size:0.9em !important;
    padding:0em 2.5em !important;
}
