@charset "utf-8";

.div2 {
    width:100%;
    background-color:#3399FF;
}
.div2_1{
    position:fixed;
    width:100%;
    height:35px;
    z-index:999;
    background-color:#3399FF;
    top:0px;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop));
}
*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}

.nav {
    font-size:0.9em !important;
    padding:0em 1.5em !important;
}

.keep-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.bg-banner {
    text-align:center;
    background:#fff;
    height:100px;
    line-height:100px;
    /*color: #000 !important;*/
}

.div2 ul li a {
    color: #000;
}

.checked {
    background-color: #3AB199;
    color: #fff;
    padding: 0 10px;
    border-radius: 5px;
}
/*.top-menu ul li a:hover{
    color:#000;
}*/

.common-pic {
    background-size: cover;
    background-position-y:0px;
}

.nav-img1 {
     background: url(../images/art7.jpg)no-repeat center;
     min-height:2280px;
     background-size: cover;
     background-position-y: 0;
}
.nav-img2 {
     background: url(../images/art8.jpg)no-repeat center;
     min-height:2300px;
     background-size: cover;
     background-position-y: 0;
}

.no-display {
    display: none;
}