@charset "utf-8";

.common-menu {
  text-align: center;
  background: #231815;
  height:45px;
  line-height:45px;
}

.common-nav {
  font-size:1em !important;
  padding:0em 2.5em !important;
}

.dropdown-label {
	color: #000 !important;
}

.drop-china {
	background: url("../images/china.png") no-repeat;
	background-size: 30% 70%;
	background-position: 0 6px;
	/*background-attachment: fixed;*/
}

.drop-america {
	background: url(../images/America.png) no-repeat;
    background-size: 25px 25px;
    background-position: 10px 10px;
}

.inter-icon {
	width: 25px;
	height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu-pic {
    background: url(../images/about/title_flag_bg.png) no-repeat center;
    background-size: 100%;
    width: 160px;
    height: 60px;
    position: absolute;
    top: 25px;
    left: 45%;
}

.menu-flag {
	position: absolute;
    left: 29%;
    top: -10px;
}

.dropdown-menu {
  min-width: 70px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}