@charset "utf-8";

.home-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-y: hidden;
}

.home-bg img {
  height: 100%;
  width: 100%;
}

.home-body-create {
  position: absolute;
  width: 140px;
  height: 80px;
  top: 250px;
  left: 60px;
}

.home-body-show {
  position: absolute;
  width: 140px;
  height: 80px;
  top: 80px;
  right: 220px;
}

.tooltip_templates {
  display: none;
}
.tooltip_templates_show {
  display: none;
}

#tooltip_create a {
  text-decoration: none;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
  position: absolute;
  background: grey;
  left: 1px;
  /*margin-left: 140px;*/
  top: -30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
  color: blue;
  padding: 8px;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-arrow{
  height:0px;
  margin-left:-11px;
  width:0px
}